.main-container {
  width: 100%;
}

.upper-container {
  position: relative;
  height: 100vh;
  padding: 64px 0 64px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.default-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  z-index: 10 !important;
}

.default-container.waved {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 3px;
  padding: 16px;
  transform: translate(0, calc(50vh - 50% - 64px));
  transition: 0.33s;
}

.default-container.answered {
  transform: translate(0, calc(88vh - 50% - 64px));
  transition: 0.33s;
}

.word-cloud-container {
  display: none;
  top: 64px;
  width: 100vw !important;
  height: calc(100vh - 250px - 64px) !important;
  box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
  overflow-x: hidden;
  overflow-y: hidden;
  cursor: grab;
  transition: 0.33s;
}

.word-cloud-container text {
  z-index: -1 !important;
}

.default-container-header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.default-container-text {
  text-align: center;
  color: gray;
}

.btn-theme1 {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 0.2em;
  color: #333;
}

.btn-theme1 {
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 0.2em;
  color: #333;
}

.wave-button.disabled {
  cursor: default !important;
}

.connect-button:hover, .btn-theme1.active:hover {
  background-color: #198754;
  color: white;
  font-weight: bold;
  transition: 0.33s;
}

.wave-button.waved {
  background-color: #198754;
  color: white;
  font-weight: bold;
}

.cryptos-input {
  margin-top: 16px;
  height: 40px !important;
}
